.earth {
  width: 100vw;
  height: 100vh;
}

.earth-space-groupe {
  height: 100vh;
  position: relative;
  background-color: pink;
}

.earth-cloud1,
.earth-cloud2,
.earth-cloud3 {
  position: absolute;
  width: 30%;
  height: 20%;
  background-color: green;
}

.earth-cloud1 {
  opacity: 0;
  top: 30%;
  left: 30%;
}

.earth-cloud2 {
  opacity: 0;
  top: 15%;
  left: 60%;
}

.earth-cloud3 {
  opacity: 0;
  left: 10%;
}

.earth-space {
  background-color: rgb(37, 30, 46);
  width: 100%;
  height: 100vh;
}

.earth-space-landscape-gradient {
  background-color: rgb(47, 20, 27);
  width: 100%;
  height: 100vh;
}

.earth-landscape {
  background-color: rgb(65, 54, 111);
  width: 100%;
  height: 100vh;
}

.earth-cave {
  background-color: rgb(49, 45, 66);
  width: 100%;
  height: 100vh;
}

.earth-scream {
  background-color: rgb(121, 32, 46);
  width: 100%;
  height: 100vh;
}

.earth-born {
  background-color: rgb(112, 65, 87);
  width: 100%;
  height: 100vh;
}

.earth-storm {
  background-color: rgb(87, 68, 106);
  width: 100%;
  height: 100vh;
}

.earth-lightning {
  background-color: rgb(158, 71, 94);
  width: 100%;
  height: 100vh;
}

.earth-birth {
  background-color: rgb(163, 142, 58);
  width: 100%;
  height: 100vh;
}

.earth-black-gradient {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

.earth-wakeUp {
  background-color: rgb(194, 104, 128);
  width: 100%;
  height: 100vh;
}

.earth-margin {
  margin-top: 342%;
}
