.horizontal-alone {
  background-color: rgb(139, 136, 143);
  width: 100%;
  height: 100vh;
}

.horizontal-going1 {
  background-color: rgb(101, 99, 103);
  width: 100%;
  height: 100vh;
}

.horizontal-going2 {
  background-color: rgb(65, 63, 67);
  width: 100%;
  height: 100vh;
}

.horizontal-going3 {
  background-color: rgb(7, 6, 7);
  width: 100%;
  height: 100vh;
}
