.slider-track {
  display: inline-flex;
  width: 100%;
  height: 100vh;
}

.slider-track .horizontal-going {
  width: calc(100vw - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-alone {
  background-color: rgb(87, 210, 182);
  width: 100%;
  height: 100vh;
}

.going1,
.going2,
.going3 {
  background-color: rgb(96, 45, 147);
  border: solid 50px red;
}

.horizantal-goinging {
  display: flex;
}

.horizontal-mask {
  overflow: hidden;
}
