.space-galaxy {
  background-color: rgb(47, 20, 27);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#space-blackHole {
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 5%;
  height: 9%;
  transition: transform 0.3s ease;
}

#space-blackHole:hover {
  transform: scale(1.5);
}
