#space-clicking {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.space-rectangle-galaxie {
  background-color: grey;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-rectangle-black-hole {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#space-circle {
  width: 20vh;
  height: 20vh;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  position: relative;
  transition: transform 0.2s;
}

#space-circle-black-hole {
  width: 20vh;
  height: 20vh;
  background: grey;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  position: relative;
  transition: transform 0.2s;
  opacity: 0;
}

#space-circle:hover {
  transform: scale(1.2);
}

#space-circle-black-hole:hover {
  transform: scale(1.2);
}

.hide {
  display: none;
}

.dezoom {
  animation: dezoomAnimation 1s ease-out forwards;
}

@keyframes dezoomAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.01);
    opacity: 0;
  }
}

.space-rectangle-earth {
  background: linear-gradient(to bottom, #0c1445 0%, #1a2b5e 50%, #2d4a7c 100%);
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
