.utile-found {
  background-color: rgb(225, 206, 225);
  width: 100%;
  height: 100vh;
}

.utile-sleep {
  background-color: rgb(167, 146, 167);
  width: 100%;
  height: 100vh;
}

.utile-stretch {
  background-color: rgb(127, 108, 127);
  width: 100%;
  height: 100vh;
}

.utile-snow {
  background-color: rgb(56, 47, 56);
  width: 100%;
  height: 100vh;
}

.utile-lick {
  background-color: rgb(201, 187, 201);
  width: 100%;
  height: 100vh;
}

.utile-look {
  background-color: rgb(7, 6, 7);
  width: 100%;
  height: 100vh;
}
